
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    height: 1500px;
}

.parent div{
    overflow: hidden;
    border-radius: 10px;
}
.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.div1 {
    grid-column: span 6 / span 6;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 6 / span 6;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div3 {
    grid-column: span 6 / span 6;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
}

.div4 {
    grid-column: span 6 / span 6;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}

.div4 img{
    object-position: center top;
}
        