
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
    height: 1000px;
}

.parent div{
    overflow: hidden;
    border-radius: 10px;
}

.parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.div1 {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
}

.div3 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div4 {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
    grid-row-start: 7;
}
        
.center-top{
    object-position: center 20%;
}

.center-botom{
    object-position: center 80%;
}