{% extends "layouts/base.html" %}
{% load static %}
{% block titulo %} Wutering Waves {% endblock %}
{% block link %} <link rel="stylesheet" href="{%static 'style.css'%}"> {% endblock %}

{% block main %}

<ul>
    {%for sistema in sistemas%}
    <li>
        {{sistema}}
    </li>
    {%endfor%}
</ul>

<h1>Bienvenido {{nombre}} con el cargo de : {{cargo}}</h1>
<div class="parent">
    <div class="div1"><img src="{%static 'image/Carlotta.jpg'%}" alt=""></div>
    <div class="div2"><img src="{%static 'image/Lupa.jpg'%}" alt=""></div>
    <div class="div3"><img src="{%static 'image/Phrolova.jpg'%}" alt=""></div>
    <div class="div4"><img src="{%static 'image/iuno.jpg'%}" alt="" class="rotate-90"></div> 
</div>

{% endblock %}